.game {
	/* for at hele siden skal være i flexbox */
	display: flex;
	flex-flow: column;
	color: #070707;
}

.center {
	display: flex;
	justify-content: center;
	text-align: center;
}

#stockMarket {
	margin: auto;
	border: black solid 1px;
	width: 70vw;
	height: 200px;
	margin-bottom: 50px;
}

#settings{
	text-align: right;
}