header {
  height: 100px;
  border-bottom: 1px solid black;
}

#textCenter {
  text-align: center;
}

.contentContainer {
  display: flex;
  margin: auto;
  text-align: center;
  width: fit-content;
  align-content: row;
  padding: 100px;
}

.imageContainer img {
  height: 200px;
  width: 500px;
  border: 1px solid black;
}

.descriptionContainer {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 4px 10px 4px 10px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

.submit {
  display: block;
  margin: auto;
  padding: 20px;
  width: 100px;
}

.questionContainer {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
}
.questionContainer img {
  height: 400px;
  align-self: center;
}
.questions {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-direction: column;
  width: 600px;
}

.questionContainer .questionsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 600px;
}

.questionsRow button {
  height: 50px;
  width: 200px;
}

.question {
  display: flex;
  flex-direction: row;
  width: 200px;
  border: 1px black solid;
  padding: 20px;
}

.question * {
  padding-left: 10px;
}

.column{
  display: flex;
  flex-flow: column;
  margin: 10px;
  text-align: center;
}
.row{
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.row *{
  padding: 5px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}
footer{
  border-top: 1px black solid;
  padding: 10px;
  text-align: center  ;
}