header {
  height: 100px;
  border-bottom: 1px solid black;
}

#textCenter {
  text-align: center;
}

.contentContainer {
  display: flex;
  margin: auto;
  width: fit-content;
  align-content: row;
  padding: 100px;
}

.contentContainer div {
  padding: 0 50px 0 50px;
}

.imageContainer img {
  height: 200px;
  width: 500px;
  border: 1px solid black;
}

.descriptionContainer {
  border: 1px solid black;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 4px 10px 4px 10px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}
